<%= form_for(@clinical) do |f| %>
  <% if @clinical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clinical.errors.count, "error") %> prohibited this clinical from being saved:</h2>

      <ul>
      <% @clinical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ClinicalID %><br>
    <%= f.text_field :ClinicalID %>
  </div>
  <div class="field">
    <%= f.label :Clinical %><br>
    <%= f.text_field :Clinical %>
  </div>
  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Clinical %><br>
    <%= f.text_field :Clinical %>
  </div>
  <div class="field">
    <%= f.label :Email %><br>
    <%= f.text_field :Email %>
  </div>
  <div class="field">
    <%= f.label :Clinical %><br>
    <%= f.text_field :Clinical %>
  </div>
  <div class="field">
    <%= f.label :Phone %><br>
    <%= f.text_field :Phone %>
  </div>
  <div class="field">
    <%= f.label :Number %><br>
    <%= f.number_field :Number %>
  </div>
  <div class="field">
    <%= f.label :Clinical %><br>
    <%= f.text_field :Clinical %>
  </div>
  <div class="field">
    <%= f.label :Rating %><br>
    <%= f.text_field :Rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
