<p id="notice"><%= notice %></p>

<h1>Listing Clinicals</h1>

<table>
  <thead>
    <tr>
      <th>Clinicalid</th>
      <th>Clinical</th>
      <th>Name</th>
      <th>Clinical</th>
      <th>Email</th>
      <th>Clinical</th>
      <th>Phone</th>
      <th>Number</th>
      <th>Clinical</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clinicals.each do |clinical| %>
      <tr>
        <td><%= clinical.ClinicalID %></td>
        <td><%= clinical.Clinical %></td>
        <td><%= clinical.Name %></td>
        <td><%= clinical.Clinical %></td>
        <td><%= clinical.Email %></td>
        <td><%= clinical.Clinical %></td>
        <td><%= clinical.Phone %></td>
        <td><%= clinical.Number %></td>
        <td><%= clinical.Clinical %></td>
        <td><%= clinical.Rating %></td>
        <td><%= link_to 'Show', clinical %></td>
        <td><%= link_to 'Edit', edit_clinical_path(clinical) %></td>
        <td><%= link_to 'Destroy', clinical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clinical', new_clinical_path %>
