<p id="notice"><%= notice %></p>

<p>
  <strong>Clinicalid:</strong>
  <%= @clinical.ClinicalID %>
</p>

<p>
  <strong>Clinical:</strong>
  <%= @clinical.Clinical %>
</p>

<p>
  <strong>Name:</strong>
  <%= @clinical.Name %>
</p>

<p>
  <strong>Clinical:</strong>
  <%= @clinical.Clinical %>
</p>

<p>
  <strong>Email:</strong>
  <%= @clinical.Email %>
</p>

<p>
  <strong>Clinical:</strong>
  <%= @clinical.Clinical %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @clinical.Phone %>
</p>

<p>
  <strong>Number:</strong>
  <%= @clinical.Number %>
</p>

<p>
  <strong>Clinical:</strong>
  <%= @clinical.Clinical %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @clinical.Rating %>
</p>

<%= link_to 'Edit', edit_clinical_path(@clinical) %> |
<%= link_to 'Back', clinicals_path %>
