<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<br><br><br><br><br><br>
<h1><%= @category.name %> Products</h1>
<table border=1>
	<tr>
		<th>Product Name</th>
		<th>Image</th>
		<th>Description</th>
		<th>Sale Price</th>
	</tr>
	
	<% @products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= image_tag product.image, size: "400x200" %> </td>
			<td><%= product.description %> </td>
			<td><%= number_to_currency(product.price) %> </td>
		</tr>
	<%end%>
</table>
