<h2>Search Results</h2>
<br>
<% if @productList.length > 0 %>
	<h3>Products</h3>
	<div class="catalog_products">
		<% @productList.each do |product| %>
		    <div class="product_item fadeIn">
		        <span class="img"><%= image_tag product.image, size: "200x100" %></span>
		        <h1><%= product.name %></h1>
		        <!--<%= product.description %> Saved  this just incase we needed it-->
		        <%= number_to_currency(product.price) %>
		        <!-- Button that creates light box -->
		        <button class="productLightbox fetch-info" data-product-id="<%= product.id %>" id="button">More Info</button>
		    </div>
		<%end%>
		<!-- backdrop is the black background of lightbox -->
		<div class="productBackdrop backdrop"></div>
		<!-- the box that we need to plug information to -->
		<div class="productBox box"><div class="closeProductBox"></div>
		   <div id="fetch-result" style="text-align: center"></div>
		</div>
	</div>
<% end %>
<% if @vendorList.length > 0 %>
	<h3>Vendors</h3>
	<div class="catalog_products">
		<% @vendorList.each do |vendor| %>
		    <div class="product_item fadeIn">
		        <span class="img"><%= image_tag vendor.image, size: "200x100" %></span>
		        <h1><%= vendor.name %></h1>
		        <!--<%= vendor.description %> Saved  this just incase we needed it-->
		        <!-- Button that creates light box -->
		        <button class="vendorLightbox fetch-vendor-info" data-vendor-id="<%= vendor.id %>" id="button">More Info</button>
		    </div>
		<%end%>
		<!-- backdrop is the black background of lightbox -->
		<div class="vendorBackdrop backdrop"></div>
		<!-- the box that we need to plug information to -->
		<div class="vendorBox box"><div class="closeVendorBox"></div>
		   <div id="fetch-vendor-result" style="text-align: center"></div>
		</div>
	</div>
<% end %>
<% if @productList.length == 0 && @vendorList.length == 0 %>
	<p>There were no products or vendors that matched your search criteria.</p>
<% end %>