<div class="login">
	<div class="form_login">
		<p id="alert" style="color:red;" ><%= alert %></p>
		<p id="notice"><%= notice %></p>
		<h1>Vendor Log In</h1>

		<%= form_tag vendor_log_in_action_path do %>
			<div class="field">
				<%= label_tag :email %><br />
				<%= text_field_tag :email, params[:email] %>
			</div>
			<div class="field">
				<%= label_tag :password %><br />
				<%= password_field_tag :password %>
			</div>
			<div class="actions"><%= submit_tag "Log In As Vendor" %></div>
			<u><%= link_to "Sign Up As Vendor", vendor_sign_up_view_path, style: "color:white;" %></u>
		<% end %>
	</div>
</div>