<div class="signup">
	<div class="form_signup">
		<h1>Vendor Signup</h1>

		<%= form_for @vendor, :url => vendor_sign_up_action_path do |f| %>
			<% if @vendor.errors.any? %>
				<div class="error_messages" style="color: red">
					<h2>Form is invalid</h2>
					<ul>
						<% @vendor.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			
			<div class="field">
			    <%= f.label :name %><br>
			    <%= f.text_field :name %>
			</div>
		  	<div class="field">
		    	<%= f.label :phone_number %><br>
		    	<%= f.text_field :phone_number %>
		  	</div>
		  	<div class="field">
		    	<%= f.label :email %><br>
		    	<%= f.text_field :email %>
		  	</div>
		  	
		  	<div class="field">
		    	<%= f.label "Search Tags (comma separated words)" %><br>
		    	<%= f.text_field :searchTags %>
		  	</div>

		  	<div class="field">
		      <%= f.label :password %><br />
		      <%= f.password_field :password %>
		    </div>
		    <div class="field">
		      <%= f.label :password_confirmation %><br/>
		      <%= f.password_field :password_confirmation %>
		    </div>
			<div class="actions"><%= f.submit%></div>
		<% end %>
	</div>
</div>