<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clinic.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @clinic.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @clinic.phone_number %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @clinic.rating %>
</p>

<%= link_to 'Edit', edit_clinic_path(@clinic) %> |
<%= link_to 'Back', clinics_path %>
