<div id="header">
	<div class="logo">
	<h1><%= link_to (image_tag "storeLogo - small.png"), home_index_path %></h1>
	</div>
	<div class="nav">
		<ul>
			<li><%= link_to "About Us", home_about_path %></li>
			<li><%= link_to "Contact Us", home_contact_path %></li>
			<li><%= link_to "Catalog", home_catalog_path %></li>
		</ul>
	</div>
	<div class="search">
		<input type="text" name="search" placeholder="Enter Keyword Here.."/>
		<input type="submit" value="Search"/>
	</div>
	<table class="table" id="adminSection">
		<td><%= link_to "Products", products_path %>  </td>
	</table>
</div>

