<p id="notice"><%= notice %></p>

<p>
  <strong>Manufactureid:</strong>
  <%= @manufacture.ManufactureID %>
</p>

<p>
  <strong>Manufacture:</strong>
  <%= @manufacture.Manufacture %>
</p>

<p>
  <strong>Name:</strong>
  <%= @manufacture.Name %>
</p>

<p>
  <strong>Manufacture:</strong>
  <%= @manufacture.Manufacture %>
</p>

<p>
  <strong>Email:</strong>
  <%= @manufacture.Email %>
</p>

<p>
  <strong>Mnaufacture:</strong>
  <%= @manufacture.Mnaufacture %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @manufacture.Phone %>
</p>

<p>
  <strong>Number:</strong>
  <%= @manufacture.Number %>
</p>

<p>
  <strong>Manufacture:</strong>
  <%= @manufacture.Manufacture %>
</p>

<p>
  <strong>Location:</strong>
  <%= @manufacture.Location %>
</p>

<%= link_to 'Edit', edit_manufacture_path(@manufacture) %> |
<%= link_to 'Back', manufactures_path %>
