
	<div class="first_header" >
		<div class="logo">
		<!-- <%= link_to (image_tag "storeLogo - small.png"), home_index_path %> -->
		<h1>MedCompare</h1>
		</div>

		<div class="searchbox">
			<%= form_tag controller: "home", action: "productSearch" do %>
				<%= text_field_tag 'searchInput', nil, id: "box", placeholder: "Search For Products, Categories, Or Vendors..."%>
			<% end %>
		</div>

		<div class="login_sign">
			<% if current_user %>
				<p style="color:white;">Logged in as <%= current_user.email %>.</p>
				<%= link_to "Log Out", session_path("current"), method: "delete" %>
			<% else %>
				<%= link_to "Sign up", new_user_path %> or
				<%= link_to "Log In", new_session_path %>
			<% end %>
		</div>
	</div>

	<div class="second_header">
		<%= link_to "Home", home_index_path %>
		<%= link_to "About Us", home_about_path %>
		<%= link_to "Contact Us", home_contact_path %>
		<%= link_to "Catalog", home_catalog_path %>
	</div>


	<div class="third_header">
		<%= link_to "Products", products_path %>
		<%= link_to "Categories", categories_path %>
		<%= link_to "Vendors", vendors_path %>
	</div>


