
	<div class="first_header">
		<div class="logo">
		<%= link_to (image_tag "storeLogo - small.png"), home_index_path %>
		</div>

		<div class="searchbox">
			<input type="text" name="search" id="box" placeholder="Enter Keyword Here.."/>
		</div>
	</div>

	<div class="second_header">
		<%= link_to "Home", home_index_path %>
		<%= link_to "About Us", home_about_path %>
		<%= link_to "Contact Us", home_contact_path %>
		<%= link_to "Catalog", home_catalog_path %>
		<%= link_to "Categories", categories_path %>
		<%= link_to "Vendors", vendors_path %>
		<%= link_to "Login", home_catalog_path %>
		<%= link_to "Sign up", home_catalog_path %>
	</div>


	<div class="third_header">
		<%= link_to "Products", products_path %>
	</div>


